section {
  align-self: flex-start;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 1rem;
  margin: 0 0 15px 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  max-width: 220px;

  border-radius: 8px;
  background-color: #1d1d1d;
  border: 2px solid #3a3a3a;
  box-shadow: inset 10px 10px 15px -8px #3a3a3a; 
  box-shadow: 2px 3px 9px 0px #3a3a3a;
}

.listButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}

.btn-item {
  font-size: x-small;
  min-width: 78px;
  cursor: unset;
}
.btn-item:focus {
  outline: none
}