section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 1.2rem;
  margin: 0 0 20px 0;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 220px;

  border-radius: 8px;
  background-color: #1d1d1d;
  border: 2px solid #3a3a3a;
  box-shadow: inset 10px 10px 15px -8px #3a3a3a; 
  box-shadow: 2px 3px 9px 0px #3a3a3a;
}

.listButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}

.active {
  min-width: 78px;
  cursor: unset;
}
.active:focus {
  outline: none
}